[Desktop Entry]
Exec=sh -c "sleep 2s; ydotool key 42:0 54:0 29:0 97:0 56:0 100:0 125:0 126:0; wl-paste -n | head -c 256 | ydotool type --key-delay 80 --key-hold 30 --escape 0 --file -"
Name=Autotype-Clipboard
Comment=Autotype clipboard
Icon=input-keyboard
NoDisplay=false
Categories=System;
StartupNotify=false
Terminal=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
X-KDE-Shortcuts=Alt+`
